{% extends "registration/layout.html" %}

{% block body %}
  {% if account_created %}
    <h4>Account created. You may now log in.</h4>
  {% endif %}
  <form method="post">
    <table class="table well">
      {% csrf_token %}
      {{ form.as_table }}
      <tr>
        <th></th><td>
          <input type="submit" class="btn btn-primary" value="log in"/>
        </td>
      </tr>
    </table>
    <p>Do not have an account? <a href="{% url 'register' %}">Create one</a>.</p>
  </form>
{% endblock %}
