{% extends 'wargame/index.html' %}

{% block body %}
  <table class="match-replay">
    <tr>
      <td>
        <span class="ai-name player-a-name">{{ match.ai_name_b }}<br/>
        <span class="player">({{ match.player_a.username }})</a>
      </td>
      <td class="vs">vs</td>
      <td>
        <span class="ai-name player-b-name">{{ match.ai_name_a }}<br/>
        <span class="player">({{ match.player_a.username }})</a>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="outcome">Outcome: {{ outcome }}</td>
    </tr>
    <tr>
      <td colspan="3" class="date">{{ match.date_time }}</td>
    </tr>
  </table>

  {% include 'wargame/simulation.html' %}
  <script type="text/javascript">
    var log = new Log($('#log').get(0));
    var viz = CreateVisualization($('.board'), log);
    var controls = new Controls($('#controls'), viz, log);
    var frames = JSON.parse('{{ match.course|safe|addslashes }}');
    controls.setFrames(frames);

    var resizeGui = function() {
      var canvas = $('.board canvas');
      var board = $('.board');
      var simulation = $('.simulation');
      var height = parseInt($(window).height() * 0.7);
      simulation.css('height', height);
      canvas.attr('height', height);
      canvas.attr('width', parseInt(board.innerWidth()));
      $('#log .events').css('height', $(window).height() * 0.5);

      viz.refresh();
    };

    $(document).ready(resizeGui);
    $(window).resize(resizeGui);
  </script>
{% endblock %}
