{% extends 'wargame/index.html' %}

{% load staticfiles %}

{% block body %}

  {% include 'wargame/simulation.html' with players_picker=True %}

  <div id="editor">
    <input type="text" class="ai-name form-control"/>
    <div class="ai-editor"></div>
    <div class="side-panel">
      <div class="ai-list"></div><br/>
      <div class="controls">
        <input type="text" class="new-ai form-control" placeholder="ai name"/>
        <input type="button" class="add btn btn-primary" value="add"/><br/>
        <input type="button" class="save btn btn-success" value="save"/>
        <input type="button" class="discard btn btn-warning" value="discard changes"/>
        <input type="button" class="delete btn btn-danger" value="delete"/>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var log = new Log($('#log').get(0));
    var viz = CreateVisualization($('.board'), log);
    var controls = new Controls($('#controls'), viz, log);
    var players_picker = new PlayersPicker($('#players-picker'), controls);
    var editor = new AiEditor($('div#editor'),
                              $.proxy(players_picker.Refresh, players_picker));


    var resizeGui = function() {
      var canvas = $('.board canvas');
      var board = $('.board');
      var simulation = $('.simulation');
      var height = Math.max(parseInt($(window).height() * 0.4),
                            parseInt($('.simulation .side-panel').css('height')));
//console.log($('.side-panel').height())
      simulation.css('height', height);
      canvas.attr('height', height - 10);
      canvas.attr('width', parseInt(simulation.innerWidth() - 250));

      var ai_editor = $('.ai-editor .CodeMirror');
      ai_editor.css('height', parseInt($(window).height() * 0.5));
      $('#editor .ai-editor').css('width', parseInt($(window).width() - $('#editor .side-panel').width() - 50));
      viz.refresh();
    };

    $(document).ready(resizeGui);
    $(window).resize(resizeGui);
    $(document).load(resizeGui);

    var tour = CreateTour();

    // Initialize the tour
    tour.init();

    // Start the tour
    tour.start();

 	</script>
{% endblock %}
